* {
    padding: 0;
    margin: 0;
}

h1 {
    font-family: sans-serif;
}

p {
    font-family: sans-serif;
}

.box-wrapper {
    width: 100%;
    height: 100vh;
    background-image: url('/images/abstract-wavy-purple-and-pink-gradient-background-design-sr31012402-1706715431755-cover.webp');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1px 1px;
}

.box {    
    width: 500px;
    height: 500px;
    border-radius: 60px;
    margin: auto;
    margin-top: 150px;
    padding: 1px 1px;
    box-shadow: 5px 5px 50px 5px black;
}

.title {
    color: blue;
    font-size: 30px;
    text-align: center;
    margin-top: 10px;
    text-shadow: 1px 1px 1px #ffffff;
}

.enter1 {
    margin-top: 20px;
    margin-left: 130px;
    width: 200px;
    height: 40px;
    padding: 5px 15px;
    font-size: 20px;
    border-radius: 10px;
}

.enter1:hover {
    box-shadow: 5px 5px 20px 5px blue;
}

.enter2 {
    margin-top: 20px;
    margin-left: 130px;
    width: 200px;
    height: 40px;
    padding: 5px 15px;
    font-size: 20px;
    border-radius: 10px;
}

.enter2:hover {
    box-shadow: 5px 5px 20px 5px blue;
}

.enter3 {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    margin-top: 30px;
    margin-left: 80px;
}

.text1 {
    font-size: 13px;
    color: #ffffff;
    margin-left: 110px;
    margin-top: -20px;
}

.link1 {
    color: gray;
    text-decoration: underline;
}

.but1 {
    width: 300px;
    height: 40px;
    border: 2px solid #ffffff;
    border-radius: 10px;
    border: 2px solid blue;
    margin-left: 100px;
    margin-top: 30px;
    color: blue;
    font-size: 20px;
}

.but1:hover {
    background-color: rgb(14, 37, 245);
    color: #ffffff;
    border: 2px solid #ffffff;
}

.line1 {
    width: 100px;
    height: 1px;
    margin-top: 10px;
    background-color: #ffffff;
}

.text2 {
    font-size: 15px;
    color: #ffffff;
}

.line2 {
    width: 100px;
    height: 1px;
    margin-top: 10px;
    background-color: #ffffff;
}

.flex1 {
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
}

.flex2 {
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
}

.icon1 {
    width: 150px;
    height: 40px;
    border-radius: 10px;
    background-color: rgb(31, 31, 255);
    display: flex;
    justify-content: space-evenly;
}

.icon1:hover {
    box-shadow: 2px 2px 2px 2px #ffffff;
}

.icon2 {
    width: 150px;
    height: 40px;
    border-radius: 10px;
    background-color: rgb(0, 149, 255);
    display: flex;
    justify-content: space-evenly;
}

.icon2:hover {
    box-shadow: 2px 2px 2px 2px #ffffff;
}

.icon3 {
    width: 150px;
    height: 40px;
    border-radius: 10px;
    background-color: red;
    display: flex;
    justify-content: space-evenly;
}

.icon3:hover {
    box-shadow: 2px 2px 2px 2px #ffffff;
}

.text3 {
    font-size: 15px;
    color: #ffffff;
}

.but2 {
    width: 100px;
    height: 100px;
    background-color: #ffffff;
}

.text4 {
    color: #ffffff;
    font-size: 20px;
    text-align: center;
    margin-top: 30px;
}

.link3 {
    color: gray;
    text-decoration: underline;
}